.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    li {
        position: relative;
        // float: left;
        display: flex;
        flex-direction: column;
        height: 30px;
        width: 150px;
        background: #999999;

        &:hover { 
            background: #CCCCCC; 
        }

        &:hover > ul {
            /* On hover, display the next level's menu */
            display: inline;
        }

        /* Menu Link Styles */
        /* Apply to all links inside the multi-level menu */
        a {
            font: bold 14px Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            text-decoration: none;
            padding: 0 0 0 10px;
            /* Make the link cover the entire list item-container */
            display: block;
            line-height: 30px;

            &:hover { 
                color: #000000; 
            }
        }
    }

    .second-level-menu {
        position: absolute;
        top: 30px;
        left: 0;
        width: 150px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
    
        li {
            position: relative;
            height: 30px;
            background: #999999;
    
            &:hover { 
                background: #CCCCCC; 
            }

            &:hover > ul {
                /* On hover, display the next level's menu */
                display: inline;
            }
        }

        .third-level-menu {
            position: absolute;
            top: 0;
            right: -150px;
            width: 150px;
            list-style: none;
            padding: 0;
            margin: 0;
            display: none;
        
            li {
                height: 30px;
                background: #999999;
        
                &:hover { background: #CCCCCC; }
            }
        }
    }
}








